---
export const prerender = true;

import { getCollection, render } from 'astro:content';
import Layout from '../../../components/Layout.astro';
import "./plato.css"

import es from "../../../translations/es"
import en from "../../../translations/en"

export async function getStaticPaths (){
  const langs = ["es","en"]
  const platos = await getCollection("platos")


  let arr = []

  for (let i = 0; i< langs.length; i++){
    const currentLang = langs[i]

    for (let j = 0; j < platos.length; j++){

      const plato = platos[j]

      const params = {lang: currentLang, slug: plato.slug}
      const props = {plato}
      arr.push({params,props})
    }
  }

	return arr

}


const {plato} = Astro.props
const currentLang = Astro.params.lang
const {data: {lang,img,title}} = plato

// if (currentLang !== lang) {
//   const splittedName = plato.slug.split("-")
//   splittedName.pop()
//   const platoName = splittedName.join("-")
//   return Astro.redirect(`/${currentLang}/plato/${platoName}-${currentLang}`, 302)
// }

const {Content} = await render(plato)

const translations = {en,es}
const content = translations[lang]

const languajes = Object.keys(translations)
---

<Layout languajes={languajes} {...content.footer} title={title}  {...content.menu}>
  <section class="plato">
    <div class="plato__price">
     EUR {plato.data.price} €
    </div>
    <div class="container">
      <picure class="plato__imgbox">
        <img src={`/content/${img}`} alt="">
      </picure>
      <div class="plato__textbox">
        <Content/>
      </div>
    </div>
  </section>
</Layout>