---
import { getCollection, render } from 'astro:content';
import Layout from '../../../components/Layout.astro';
import "./plato.css"

import es from "../../../translations/es"
import en from "../../../translations/en"

const { lang, slug } = Astro.params;
const currentLang = lang as string;

const platos = await getCollection("platos");
const plato = platos.find(p => p.slug === slug);

if (!plato) {
  return Astro.redirect('/404');
}

const {data: {lang: platoLang, img, title}} = plato;

const splittedName = plato.slug.split("-");
splittedName.pop();
const baseName = splittedName.join("-");

if (currentLang !== platoLang) {
  return Astro.redirect(`/${currentLang}/plato/${baseName}-${currentLang}/`, 301);
}

const alternateLinks = {
  es: `/es/plato/${baseName}-es/`,
  en: `/en/plato/${baseName}-en/`
}

const {Content} = await render(plato)

const translations = {en, es}
const content = translations[platoLang as keyof typeof translations]

const languajes = Object.keys(translations)
---

<Layout
  languajes={languajes}
  {...content.footer}
  title={title}
  {...content.menu}
  alternateLinks={alternateLinks}
  robots="index, follow"
>
  <section class="plato">
    <div class="plato__price">
     EUR {plato.data.price} €
    </div>
    <div class="container">
      <picure class="plato__imgbox">
        <img src={`/content/${img}`} alt={`${title} - Bacon Love Hamburguesería San Blas-Canillejas, Madrid`}>
      </picure>
      <div class="plato__textbox">
        <Content/>
      </div>
    </div>
  </section>
</Layout>
